.hoverMe{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: red;
}
#reset{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: red;
    text-align: center;
    line-height: 180px;
}